<%- include('../head') %>
<%- include('../nav') %>
<h3>Skill: <%= skill.name %></h3>
  <ul>
    <li>Type: <%= skill.type %></li>
    <li>Years: <%= skill.years %></li>
  </ul>
</li>
<%- include('../foot') %>
