<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<h3>Skill: <%= skill.name %></h3>
  <ul>
    <li>Type: <%= skill.type %></li>
    <li>Years: <%= skill.years %></li>
  </ul>
</li>
<div>
  <form style="display: inline;" action="/skills/<%= skill.id %>/edit">
    <button type="submit" class="btn btn-primary">Edit Skill</button>
  </form>
  <form style="display: inline;" action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete Skill</button>
  </form>
</div>
<%- include('../partials/foot') %>
